<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-transparent">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" href="/">
        <span>CZ4031</span> Project 2
      </a>
    </div>
    <div class="collapse navbar-collapse" id="example-navbar-primary">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link"href="#aboutModal" data-toggle="modal" data-target="#aboutModal">
            <i class="fa-solid fa-user-group"></i> Team
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/leejunweisg/cz4031-project-2" target="_blank">
            <i class="fa-brands fa-github"></i> GitHub
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->